html,
body {
  height: 100%;
  box-sizing: border-box;
  overflow: hidden !important;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.displayContainer {
  position: absolute;
  /* top: 20vh; */
  z-index: 999;
}
.container .image {
  border-radius: 8px;
}

.navContainer {
  border-radius: 30px;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  overflow: hidden;
  border: 1px solid #eee;
}
.navContainer .navbar-item {
  padding: 10px 20px;
}
.navContainer a {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: stretch;
  color: #333;
}
.fadeOut {
  opacity: 0;
}
