* {
  margin: 0px;
  padding: 0px;
  tz_list-style-type: none;
}
html,
body {
  background-color: #292929;
}
li {
  list-style: none;
}
#Tz_box {
  width: 350px;
  height: auto;
  margin: auto;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 4px #222;
  background-color: #e4e4e4;
  padding: 20px;
}
ul#Tz_List {
  width: 330px;
  height: 60px;
  margin: 0 auto;
}
ul#Tz_List li {
  width: 41px;
  height: 61px;
  float: left;
  overflow: hidden;
  text-align: center;
  position: relative;
}
ul#Tz_List li img:nth-of-type(1) {
  position: absolute;
  left: 0px;
  top: 0px;
}
ul#Tz_List li img:nth-of-type(2) {
  position: absolute;
  left: 0px;
  top: 61px;
}
ul#Tz_List li:nth-of-type(3) img,
ul#Tz_List li:nth-of-type(6) img {
  left: 12px;
}
